# Django
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=*

# Database
# DB_NAME=sahara_gold
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=localhost
# DB_PORT=5432

# URLs
FRONTEND_URL=https://localhost:5173
BACKEND_URL=http://127.0.0.1:8000

# SSLCommerz Payment Gateway
SSLCOMMERZ_STORE_ID=testbox
SSLCOMMERZ_STORE_PASS=qwerty
SSLCOMMERZ_IS_SANDBOX=True
