asgiref==3.8.1
certifi==2026.1.4
charset-normalizer==3.4.4
Django==4.2.21
django-cors-headers==4.4.0
django-jazzmin==3.0.1
django-sslserver==0.22
djangorestframework==3.15.2
idna==3.11
pillow==10.4.0
python-dotenv==1.0.1
requests==2.32.5
sqlparse==0.5.3
sslcommerz-lib==1.0
tzdata==2025.2
urllib3==2.3.0
whitenoise==6.7.0
